<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link href="http://localhost:8091/webjars/bootstrap/4.5.3/css/bootstrap.min.css"
	    		rel="stylesheet">
<title>Administrador de Prendas</title>
</head>
<body>
	<div align="center">
		<h1>Listado de Prendas</h1>
		<br />
<div class="container">
		<table>
			<tbody>
				<tr>
					<th><a href="/tienda"><a href="/tienda"><button class="btn btn-primary text-light">← Volver al menú pricipal</button></a></th>
					<th>&nbsp;</th>
					<th><a href="/tienda/prendas/new"><button class="btn btn-success text-light">Crear una nueva Prenda</button></a></th>
				</tr>
			</tbody>
		</table>
		<br />
		<table border="1" class="table table-striped table-hover table-bordered table-dark">
			<thead class="thead-light">
				<tr>
					<th>Prenda ID</th>
					<th>Descripción</th>
					<th>Tipo</th>
					<th>Precio Base</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prenda : ${listPrendas}">
					<td th:text="${prenda.id}">Prenda ID</td>
					<td th:text="${prenda.descripcion}">Descripcion</td>
					<td th:text="${prenda.tipo.descripcion}">Tipo</td>
					<td th:text="${prenda.precioBase}">Precio Base</td>
					<td><a th:href="@{'/tienda/prendas/edit/' + ${prenda.id}}"><button class="btn btn-primary text-light">Editar</button></a>
						&nbsp;&nbsp;&nbsp; <a
						th:href="@{'/tienda/prendas/delete/' + ${prenda.id}}"><button class="btn btn-danger text-light">Borrar</button></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	<script src="http://localhost:8091/webjars/jquery/3.5.1/jquery.min.js"></script>
	    <script src="http://localhost:8091/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>

