 <html>
 <head>
<meta charset="utf-8" />
<link href="http://localhost:8091/webjars/bootstrap/4.5.3/css/bootstrap.min.css"
	    		rel="stylesheet">
<title>Error</title>
</head>
<body>
<center>
<h1>Error ocurrido</h1>
<h2>Por favor contactarse con el administrador</h2>
<a href="/"><button class="btn btn-primary text-light">← Volver a Tienda Ropita</button></a>
</center>
<script src="http://localhost:8091/webjars/jquery/3.5.1/jquery.min.js"></script>
	    <script src="http://localhost:8091/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>