<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link href="http://localhost:8091/webjars/bootstrap/4.5.3/css/bootstrap.min.css"
	    		rel="stylesheet">
<title>Editar Venta</title>
</head>
<body>
	<div align="center">
		<h1>Editar Venta</h1>
		<br />
				<div class="container">
		<table>
			<tbody>
				<tr>
					<th><a href="/tienda"><button class="btn btn-primary text-light">← Volver al menú pricipal</button></a></th>
					<th>&nbsp;</th>
					<th><a href="/tienda/ventas/list"><button class="btn btn-primary text-light">← Volver</button></a></th>
				</tr>
			</tbody>
		</table>
		<br />
		<div class="card">
          <div class="card-header">
               <h4 class="mb-0">Editar Venta</h4>
          </div>
        <div class="card-body">
		<form action="#" th:action="@{/tienda/ventas/save}"
			th:object="${venta}" method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Venta ID:</td>
					<td><input class="form-control" type="text" th:field="*{id}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td>Cliente:</td>
					<td>
					    <select id="clienteId" name="clienteId">
  					        <option value="">Seleccione el cliente</option>
					        <option th:each="cliente : ${clientes}"
					                th:value="${cliente.getId()}"
					                th:text="${cliente.getRazonSocial()}"
					               th:selected="${cliente.getId() == venta.getCliente().getId()}">
					        </option>
					    </select>
					</td>
				<tr>
					<td colspan="2"><button type="submit" class="btn btn-success">Guardar</button></td>
				</tr>
			</table>
			<table>
				<tbody>
					<tr>
						<th>Items</th>
						<th>&nbsp;</th>						
						<td><a  th:href="@{'/tienda/ventas/items/' + ${venta.id}}" class="btn btn-primary">Nuevo Item</a>
					</tr>
			</table>
			<table border="1" class="table table-striped table-hover table-bordered table-dark">
				<thead class="thead-light">		
					<tr>
						<th>Item ID</th>
						<th>Descripcion </th>
						<th>cantidad</th>	
					</tr>
				</thead>
				<tbody>
				<tr th:if="${items.empty}">
			            <td colspan="2"> No hay items aún </td>
			        </tr>
					<tr th:each="item : ${items}">
						<td th:text="${item.getId()}">Item ID</td>
						<td th:text="${item.getPrenda().getDescripcion()}">Descripcion</td>
						<td th:text="${item.getCantidad()}">Cantidad</td>
						
				
				</tbody>
			</table>
		</form>
	</div>
	</div>
	</div>
	</div>
	<script src="http://localhost:8091/webjars/jquery/3.5.1/jquery.min.js"></script>
	    <script src="http://localhost:8091/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
	
</body>
</html>